.controlPanel, #batleFieldUser, #batleFieldComp{
	margin: 25px 0;
	float: left;
}
#batleFieldUser, #batleFieldComp{
	margin-left: 25px;
}
#shipsLog{
	position: relative;
	margin: 25px 0;
	clear: both;
	width: 100%;
	height: 340px;
	border: 1px solid green;
	overflow: scroll;
}
#shipsLog p{
	margin: 0;
	padding: 0;
}
/*#shipsLog p:nth-child(2){*/
	/*margin: 30px 0 0;*/
/*}*/
/*#shipsLog p:first-child{*/
	/*background: #FFF;*/
	/*position: fixed;*/
	/*width: 100%;*/
	/*font-size: 25px;*/
	/*text-align: center;*/
/*}*/
td{
	width: 30px;
	height: 30px;
	border: 1px solid black;
}
button{
	width: 150px;
}